<div class="jumbotron">
	<div class="container">
  <h1 class="text-center">Hello World!</h1>
  <p class="text-center">A simple tool to keep track of your Ruby on Rails commands, methods and errors...</p>
  <p class="text-center"><%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %> <%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
</div>