<div class="container">
	<h1 class="text-center">Your email was sent sucessfully!</h1>
	<div class="container center-block">
		<h3 class="text-center">If you just reported a bug then I owe you a mug of beer!</h3>
		<br>
		<br>
		<h3 class="text-center">Lastly, thank you for your feedback</h3>
		<br>
		<br>
		<h4 class="text-center">I'll fix it as soon as possible and then get back to you!</h4>
		<h4 class="text-center">Cheers!</h4>
		<br>
		<br>
		<div id="redirect">
		<% if user_signed_in? %>
		<p class="text-center"><%= link_to "Dashboard", dashboard_index_path, class: "btn btn-success btn-lg" %></p>
		<% else %>
		<p class="text-center"><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %> <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %></p>
		<% end %>
		</div>
	</div>
</div>